Source: ima-mtree-sign
Section: devel
Priority: extra
Maintainer: Paul Tagliamonte <paultag@gmail.com>
Build-Depends: debhelper (>= 10), dh-golang, golang-go,
 golang-github-urfave-cli-dev,
 golang-pault-go-ima-dev,
Standards-Version: 4.0.0
Homepage: https://github.com/paultag/cybercom
XS-Go-Import-Path: pault.ag/go/ima

Package: ima-mtree-sign
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: short short short
 long aslkjfalskjflkasjflk aflk jaslkfj alkskj f
 long aslkjfalskjflkasjflk aflk jaslkfj alkskj f
 long aslkjfalskjflkasjflk aflk jaslkfj alkskj f
 long aslkjfalskjflkasjflk aflk jaslkfj alkskj f
 long aslkjfalskjflkasjflk aflk jaslkfj alkskj f
 long aslkjfalskjflkasjflk aflk jaslkfj alkskj f
 long aslkjfalskjflkasjflk aflk jaslkfj alkskj f
